<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible">
    <title>
        CSCI 4831: Sabermetrics
    </title>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes/_navbar.html' %}
</head>

<body class="layout-more">
    <div class="container">
        {% block content %}
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
        {% endblock %}
    </div>

    <div class="container">
    <hr size="300">
    <h4> About Specialty Score </h4>
    <p>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac dui id odio dapibus vulputate. Proin eu fermentum libero. Ut suscipit, mi ut interdum accumsan, eros lorem tincidunt tellus, ut imperdiet nunc risus a nibh. Cras urna sem, faucibus vel odio vel, porta dapibus sapien. Suspendisse vulputate at sem a rutrum. Duis laoreet ante id pulvinar condimentum. Duis in fringilla nunc. Suspendisse massa nisi, laoreet sit amet felis sed, bibendum pharetra ante. Donec nec venenatis purus. Curabitur vel vulputate purus. Cras cursus metus orci, in interdum enim porta non. Quisque quis lectus eleifend, euismod erat in, mollis est.

    Integer viverra nisi at bibendum posuere. Phasellus tincidunt facilisis mi feugiat auctor. Integer et diam vitae nunc varius fringilla. Donec mauris elit, tempor vitae semper eu, gravida sit amet arcu. Proin in ante quis neque finibus interdum eget maximus sem. Sed condimentum, enim nec pharetra sagittis, lacus tortor mattis justo, nec malesuada metus purus et diam. Ut cursus auctor sapien ut faucibus. Suspendisse potenti. Quisque mollis vehicula pharetra. Vivamus eget ultrices mauris. Cras luctus aliquam risus, vitae tristique nisi tincidunt sit amet. Praesent rhoncus nunc et lorem elementum, ac tristique libero viverra. Donec id arcu facilisis, condimentum ipsum id, convallis sem.

    Integer semper posuere pulvinar. Donec vestibulum augue vel hendrerit varius. Donec maximus nisi arcu. Nullam posuere dolor id quam hendrerit ultricies. Vestibulum vitae ipsum vehicula, condimentum ante et, molestie neque. Fusce a tincidunt metus. Donec posuere elementum nibh, nec pulvinar metus mattis nec. In hac habitasse platea dictumst. Etiam augue sem, fringilla id pulvinar vitae, volutpat id neque.

    Aliquam vitae rutrum odio. Donec non orci quis neque convallis tempor id efficitur lectus. Morbi et neque diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec gravida cursus velit, at auctor libero ultrices id. Fusce turpis odio, molestie quis leo feugiat, condimentum consequat lacus. Mauris rutrum volutpat lacus, eget tristique arcu dapibus eget. Sed feugiat, lacus et maximus cursus, purus ipsum commodo neque, tincidunt interdum orci turpis nec neque. Fusce velit ante, fermentum sit amet sodales eget, bibendum a magna. Nam nibh est, maximus eu ex fringilla, consequat semper metus.

    Sed vitae euismod neque, congue laoreet nisi. Donec ipsum dui, aliquet eu est a, commodo aliquam ante. Cras volutpat metus non bibendum iaculis. Aliquam imperdiet mollis risus id aliquet. Morbi iaculis ipsum at enim tristique tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel nibh ac risus consequat gravida. Nam pretium lobortis quam eget congue. Suspendisse enim eros, commodo in rutrum ut, blandit ac diam.
    
    </p>

    <hr size="300">


    </div>
    <div class="container">
     <h8> Created by Jacob Hallberg and Lindsay Walton </h8>    
    </div>
</body>