<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible">
    <title>
        CSCI 4831: Sabermetrics
    </title>    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes/_navbar.html' %}
</head>

<body class="layout-more">
    <div class="container">
        {% block content %}
        {% include 'includes/_messages.html' %}
        {% block body %}{% endblock %}
        {% endblock %}
    </div>

    <div class="container">
    <hr size="300">
    <h4> About Specialty Score </h4>
    <p>

    In sabermetrics, there are a variety of statistics used to evaluate the skill of a batter. Statistics such as batting average, slugging, on-base percentage, strikeouts, and other similar statistics evaluate the overall skill of a batter. None of these statistics consider a batter’s ability to hit varying types of pitches, just the batter’s ability to hit pitches as a whole. Some pitchers may be able to effectively hit all types of pitches, while others may only be able to be effective pitchers for fastballs. The Speciality Score statistic aims to gauge a batter’s ability to hit “speciality” pitches such as curveballs, sliders, changeups, and so on. Batters with high batting skill for these speciality pitches will have a high speciality score while batter with less skill for these pitches will have a lower speciality score. This statistic could be used to identify batters with a unique batting skill as compared to other batters.

    The statistic will be calculated using the Statcast data. For each batter, we will collect information about the pitches that they’ve hit. To determine information about the pitch, we will collect pitch type and pitch speed. To determine information about the batter’s hitting and how successful that hit was, we will collect batted ball launch speed, the resulting event of the plate appearance and launch speed/angle zone based on launch angle and exit velocity (which categorizes hits into one of the following types: weak, topped, under, flare/burner, solid contact, or barrel). We may also consider using the statcast data points Estimated Batting Avg based on launch angle and exit velocity, and Estimated wOBA based on launch angle and exit velocity.
    
    We will group the batter’s hits by pitch type. For each pitch type, we will use the batting information described above to determine how effective the hit was. This information will be aggregated together by pitch type and summed to give the player’s specialty score. Each pitch type will be weighted by some value such that pitches like curveballs, changeups, and sliders will be valued more than fastballs.
    
    The statistic will be presented with a website. A user will be able to access the website and read some information about the statistic and how it is calculated. A user will be able to enter a Major League Baseball player’s name and see his Specialty Score. The Specialty Scores will be available for all players that have enough Statcast data for which we can calculate their score.
    </p>

    <hr size="300">


    </div>
    <div class="container">
     <h8> Created by Jacob Hallberg and Lindsay Walton </h8>    
    </div>
</body>